.btn-outline-menu {
  color: rgba(255, 193, 7, 0.03);
  border-color: rgba(255, 193, 7, 0)
}

.btn-outline-menu:hover {
  background-color: #ffc107;
  box-shadow: 0 0 0 .2rem rgba(255, 255, 255, 0.82)
}

.btn-outline-menu.focus, .btn-outline-menu:focus {
  box-shadow: 0 0 0 .2rem rgba(46, 63, 115, 0.82)
}

.btn-outline-menu.disabled, .btn-outline-menu:disabled {
  background-color: transparent
}

.btn-outline-menu:not(:disabled):not(.disabled).active, .btn-outline-menu:not(:disabled):not(.disabled):active, .show > .btn-outline-menu.dropdown-toggle {
  color: #212529;
  background-color: #ffc107;
  border-color: #ffc107
}

.btn-outline-menu:not(:disabled):not(.disabled).active:focus, .btn-outline-menu:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-menu.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(255, 193, 7, .5)
}
