<!--<app-main-nav>-->
<!--  <mat-card class="page-not-found-card">-->
<!--    <mat-card-header class="not-found-content">-->
<!--      <mat-card-title> 404</mat-card-title>-->
<!--      <mat-card-subtitle>Page Not Found</mat-card-subtitle>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      <mat-progress-bar mode="indeterminate"></mat-progress-bar>-->
<!--    </mat-card-content>-->
<!--    <mat-card-actions>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--</app-main-nav>-->



<div class="page-not-found-card">
  <div class="not-found-content">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          404 Not Found</h2>
        <div class="error-details">
          Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
            Take Me Home </a>
          <a href="http://www.google.com" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Google Error </a>
        </div>
      </div>
    </div>
  </div>
</div>


